.fondo{
	height: 100vh;
	width: 100vw;
	background-color: whitesmoke;
}

.barraNavegacion {
	background-color: white;
}

.botones {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.culturaVerde {

margin-left:15.4%;

}

.contenedor{

overflow:auto;
background-color: whitesmoke;
}
