.form-control[type=barra]{

width:500px;
margin-left:3%;



}

.barraBusqueda{

	margin-left:4%;
	
}

.barraNavegacion{


justify-content:center;

}

.textos {

margin-left:4%;

}

.nav-link{

font-weight: 400;

}


/*
.iconoBusqueda{

	margin-right:-1%;

}
*/

.contenedor{

overflow:auto;

}