.form-control[type=barra]{

width:500px;
margin-left:3%;



}

.textos {

margin-left:4%;

}

.nav-link{

font-weight: 400;

}

.culturaVerde {

margin-right:3%;
margin-left:15.4%;

}

/*
.iconoBusqueda{

	margin-right:-1%;

}
*/

.contenedor{

overflow:auto;

}