.contenedor{
	
overflow:auto;
flex-direction: column;
display: flex;
justify-content: center;
text-align:center;
}

.formularioLogin{


margin-top: 5%;

}

.encabezadoLogin{

margin-top:4%;
margin-left:33%;

}


.form-control{

width: 40%;

}

.botonesLogin{

display:flex;
flex-direction: row;
display: flex;
justify-content: center;

}


.error{

color: #cc0000;
font-size: 13px;
position: absolute;

}

.form-control[type=password]{

margin-left:-0.3%;


}
