.navbar img{

margin-left:17.2%;

}

.contenedor{

background-color: whitesmoke;
height: 534px;
overflow:auto;

}

.formularioLogin{

justify-content: center;
text-align:center;
margin-top: 5%

}

.form-control[type=email], .form-control[type=password]{

width: 40%;

}

.formularioLogin{

margin-top:6%;

}

.encabezadoLogin{

margin-top:4%;
margin-left:33%;

}

.usuario{

	margin-top:5%;

}

.password{

	margin-top:4%;
	margin-left: -2%;

}

.boton1{

	margin-left:-14.5%;
}

.boton2{

	margin-left:20%;
	margin-top:-5.95%;
	margin-right:6%;
}

.error{

color: #cc0000;
font-size: 13px;
position: absolute;

}
