.navbar img{

margin-left:17.2%;

}

.form-control[type=barra]{

width:500px;
margin-left:3%;

}

.ListadoDesplegablemicuenta {

margin-right:3%;
margin-left:5%;

}

a{
  color: black;
}

.menuConsumidor {

position: relative;
margin-top: 2%;
margin-right:5%;
margin-left:5%;
right: 2%;

}