.contenedorrecu{
overflow:auto;

}
.formularioRecuContra{

justify-content: center;
text-align:center;
margin-top: 5%

}

.encabezadoRecucontra{

margin-top:5%;
margin-left:25%;

}

.Correoelectronico{

	margin-top: -4%;

}

.form-control[type=recuemail]{

width: 50%;

}

.botoncanrecup{

	margin-left:33%;
	margin-top:-0.3%;
	margin-right:6%;
}

.botonconfrecu{

	margin-left:55%;
	margin-right:6%;
}
