.contenedorrecu{
overflow:auto;

}
.formularioRecuContra{

justify-content: center;
text-align:center;
margin-top: 5%

}

.encabezadoRecucontra{

margin-top:5%;
margin-left:27%;
}

.Correoelectronico{

	margin-top: -4%;

}

.form-control[type=recuemail]{

width: 55%;

}