.navbar img{

margin-left:17.2%;

}

.contenedor{

background-color: whitesmoke;
height: 534px;
overflow:auto;

}

.formularioRegistro{

justify-content: center;
text-align:center;
margin-top: 5%

}

.form-control[type=email], .form-control[type=password]{

width: 40%;

}

.formularioRegistro{

margin-top:1%;

}

.encabezadoRegistro{

margin-top:4%;
margin-left:33%;

}

.usuario{

	margin-top:5%;

}

.password{

	margin-top:4%;
	margin-left: -2%;

}

.botonesRegistro{

margin-top:20%;
font-size: 15px;
margin-left:34.6%;

}

.error{

color: #cc0000;
font-size: 13px;
position: absolute;

}

.botonAtras{

margin-top:-0.9%;
margin-right: -1.8%;

}