.form-control[type=email], .form-control[type=password], .form-control[type=text] {

width: 40%;

}

.titulos{
margin-left:25%;
margin-top: 2%;
}

.cuentaUsuario{
margin-left:20%;
}

.cuentaCultura{
font-weight: 500;
}

.contenidoRegistro{
margin-top:1%;
margin-left:33%;
}

.tel{
margin-left:-0.5%;
margin-top:3.5%;
}

.email{
margin-left:2.1%;
margin-top:3.5%;
}

.password{
margin-left:-1.5%;
margin-top:3.5%;	
}

.fechaNacimiento, .confirmaPassword{
margin-left:-10.85%;
margin-top:3.5%;
}

.apellido{
margin-top:3.5%;
}

.razonSocial{
margin-left:-4%;
margin-top:3.5%;
}

.error{
color: #cc0000;
font-size: 13px;
position: absolute;
}


.titulos{

margin-left:25%;
margin-top: 2%;

}