.navbar img{

margin-left:17.2%;

}

.contenedor{

overflow:auto;
}


.form-control[type=email], .form-control[type=password], .form-control[type=text] {

width: 40%;

}

.formularioRegistro{

text-align: center;

}

.contenidoRegistro{

margin-top:1%;
margin-left:33%;

}

.fechaNacimiento, .confirmaPassword{

margin-left:-10.85%;
margin-top:3.5%;

}

.tel{

margin-left:-0.5%;
margin-top:3.5%;

}

.email{

margin-left:2.1%;
margin-top:3.5%;

}

.password{

margin-left:-1.5%;
margin-top:3.5%;	

}

.confirmaPassword{

margin-left:-10.3%;
margin-top:3.5%;

}

.apellido{

margin-top:3.5%;

}


.botonesRegistro{

margin-top:3%;
font-size: 15px;
margin-left:3%;

}

.error{

color: #cc0000;
font-size: 13px;
position: absolute;

}

.botonAtras{

margin-top:-0.9%;
margin-right: -1.8%;

}

.titulos{

margin-left:25%;
margin-top: 2%;

}

.cuentaProductor{


margin-left:20%;

}

.cuentaCultura{

font-weight: 500;

}