.listado{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 30px;
  }
  
   .listado li{
    height: 130px;
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
   .listado li .icon{
    width: 120px;
    height: 120px;
    max-width: 120px;
    min-width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  
   .listado li .icon img{
    max-width: 100px;
    max-height: 100px;
  }
  
   .listado li .name{
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  
   .listado li .name span.item-description{
    font-size: 16px;
    color: #A6A6A6;
  }

  .listado li .columns{
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
   .listado .remove{
    height: 20px;
    width: 20px;
    min-width: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border:0px;
    background-color: transparent;
  }
   .listado li .remove i{
    color: #979797;
    font-size: 20px;
  }
  
  .listado .iconosListado{
    padding-left: 10px;
    padding-right: 10px; 
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border:0px;
    background-color: transparent;
  }

  .listado li .iconosListado i{
    color: #979797;
    font-size: 20px;
  }

  button.add-button{
    background-color: #69B614;
    width: 129px;
    height: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border:0px;
    font-size: 11px;
    cursor: pointer;
    outline: none;
  }
  
  .totalCarrito {
    background-color: #F3F3F3;
    color: #9D3872;
    font-size: 24px;
    font-weight: 400;
    width: 86px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 10px;
  }
  
  .footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }  

  .item-quantity-no-stock{
    color: red !important;
    font-weight: 600;
  }