.containerPrincipal {
    align-content: center;
}

.MuiStepper-vertical {
    width: auto;
}

.datosUsuario {
    align-items: center
}

.containerCheckout {
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margenesFormulario {
    margin-left: 10px;
    margin-right: 10px;
}

.radioButtonsCheckout {
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.radioButtonsCheckout .radio {
    margin-right: 10px;
    vertical-align: middle;
}

.resumenReserva {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    column-count: 2 !important;
    column-gap: 3.25rem !important;
}

.unidadMedida {
    font-size: 14px;
    color: grey;
}

.dropdownDirecciones {
    width: 500px;
    justify-content: center;
    margin-top: 10px;
}

.dropdownFechas {
    width: 500px;
    justify-content: center;
    margin-top: 25px;
}

.dropdownHorarios {
    width: 500px;
    justify-content: center;
    margin-top: 25px;
}

.opcionesCheckout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personaRetiro {
    margin-left: 33%;
    padding-left: 14px;
}

.confirmacionReserva {
    margin-top: 95px;
    align-content: center;
}

.cardHeader {
    font-weight: 500;
}

.cardFooter {
    font-weight: 600;
    font-size: large;
}

.cardColumns {
    margin-right: 10px;
    margin-left: 10px;
}

.botonIzquierda {
    float: left;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.botonDerecha {
    float: right;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.precioCheckout {
    float: right;
    margin-right: 10px;
    margin-bottom: 0px !important;
}

.sinBordesCajaCheckout {
    border: none !important;
}

.bordesPrecioCheckout {
    border-top-width: 1px !important;
    border-top-style: solid !important;
    border-top-color: rgba(0, 0, 0, 0.125) !important;
}

.iconoCheckout {
    margin-right: 5px;
    color: #555;
}