.containerPrincipal{
    align-content: center;
}
.MuiStepper-vertical{
    width: auto;
}

.datosUsuario {
    align-items: center
}

.containerCheckout{
    flex-wrap: wrap;
}

.margenesFormulario{
    margin-left: 10px;
    margin-right: 10px;
}