.containerPrincipal{
    align-content: center;
}
.MuiStepper-vertical{
    width: auto;
}

.datosUsuario {
    align-items: center
}

.containerCheckout{
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margenesFormulario{
    margin-left: 10px;
    margin-right: 10px;
}

.radioButtonsCheckout{
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.radioButtonsCheckout .radio {
    margin-right: 7px;
    vertical-align: middle;
}
