.containerPrincipal{
    align-content: center;
}
.MuiStepper-vertical{
    width: auto;
}

.datosUsuario {
    align-items: center
}

.containerCheckout{
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.margenesFormulario{
    margin-left: 10px;
    margin-right: 10px;
}

.radioButtonsCheckout{
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.radioButtonsCheckout .radio {
    margin-right: 10px;
    vertical-align: middle;
}

.resumenReserva {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.unidadMedida{
    font-size: 14px;
    color:grey;
}

.dropdownDirecciones{
    width: 500px;
    justify-content:center;
    margin-top: 10px;
}
.dropdownFechas{
    width: 500px;
    justify-content:center;
    margin-top: 25px;
}
.opcionesCheckout{
    display: flex;
	flex-direction: column;
    align-items: center;
}

.personaRetiro{
    margin-left: 33%;
    padding-left: 14px;
}

.confirmacionReserva{
    margin-top: 95px;
    align-content: center;
}

.footerEstilo {
    margin-bottom: 0px;
}