.fechaNac {
	margin-left: 11.2%;
}

.calend {
	width: 39.5%;
}

.nom, .ap {
	width: 35%;
}

.contenidoDU {
	margin-top: 20px;
}

.form-control[type="ap"], .form-control[type="nom"], .form-control[type="tel"], .form-control[type="mail"], .form-control[type="rs"] {
	width: 35%;
}