.fondo {
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.barraBusqueda {
    margin-left: 100px;
}

.barraBusquedaNuevo {
    width: 500px !important;
    display: flex;
    flex: 1;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
}

input[type=text] {
    width: 500px;
    margin-left: -0.35%;
    flex: 1;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .navbar {
        overflow: auto !important;
    }
}

.sombraBarra {
    z-index: 1;
}

.barraNavegacion {
    background-color: #28a745;
}

.botones {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.culturaVerde {
    margin-left: 15.4%;
}

.contenedor {
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-group-text {
    margin-left: -2.02%;
    margin-top: -0.03%;
    height: 5.1%;
}

.error {
    color: #cc0000;
    font-size: 13px;
    position: absolute;
}

.titulosPrincipales {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
}

.form-control[type="text"], .form-control[type="email"], .form-control[type="password"], .form-control[type="telR"], .form-control[type="number"] {
    width: 40%;
}

.selectTipoProducto, .selectTipoUnidad, .selectTipoProduccion, .selectCategoria, .selectPeriodo {
    width: 50%;
}

.iconosBarra {
    color: darkgreen;
    font-size: 28px;
    margin-top: 13px;
    margin-left: 7px;
    margin-right: 7px;
}

.botonBusqueda {
    width: 100%;
    height: 100%;
}

.iconoBusqueda {
    color: black;
}

.loader {
    background-color: white;
    height: calc(100vh - 78px);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 75px;
}

.iconosTabla {
    font-size: 18px;
}

.iconosTablaDeshabilitados {
    opacity: 0.5;
}

.cursorManito {
    cursor: pointer;
    cursor: hand;
}

.iconoToast {
    font-size: 20px;
}

.butter-toast {
    margin-right: 20px;
}

.mensajeToast {
    font-size: 13px;
}

.botonCerrarModal {
    font-size: 20px;
    color: grey;
    float: right;
}

.iconoModalOk {
    color: #28a745;
    font-size: 65px;
}

.iconoModalError {
    color: red;
    font-size: 65px;
}

.iconoModalWarning {
    color: #FFBF00;
    font-size: 65px;
}

.iconoModal {
    font-size: 65px;
    color: #79CB79;
}

.modalMargenes {
    padding: 15px;
}

.mensajeModal {
    font-weight: bold;
}

.iconoGrandeError {
    color: red;
    font-size: 175px;
    margin-top: 100px;
}

.columnaCentrado {
    display: inline;
}

.modalActualizaciones {
    display: flex;
    flex-direction: row;
}

.selectEstado {
    width: 250px;
    margin-left: 10px;
}

.tituloCampoModal {
    align-self: center;
}

.cantidadProductos {
    width: 150px;
    margin-left: 10px;
}

.margenAutomatico {
    text-align: center !important;
    position: relative;
}

.opcionesCantidad {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
    margin-bottom: 20px;
}

.tituloCantidad {
    align-self: center;
}

.boxMiCuenta {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 70px;
    background-color: #a4dba4 !important;
    display: flex !important;
    flex-direction: row !important;
}

.tituloMiCuenta {
    text-align: left !important;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 10px;
}

.textoMiCuenta {
    text-align: left;
    line-height: 40px;
    margin-left: 20px;
    color: darkgreen !important;
    align-self: center;
    margin-bottom: 0px !important;
}

.linkBox {
    font-weight: 900;
}

.iconoBox {
    font-size: 40px;
    margin: auto;
    margin-left: 0! important;
    margin-right: 0px !important;
    color: darkgreen;
}

.linkMiCuenta {
    display: inline-flex;
}

.columnaPrecio {
    min-width: 90px !important;
    max-width: 90px !important;
}

.campoOferta {
    width: 130px !important;
    margin-left: 20px !important;
}

.modal-title {
    display: contents;
}

.cruzCerrar {
    align-self: center;
}

.alineacionIzquierda {
    text-align: left;
}

.inputDerecha {
    text-align: right;
}

.inputIcono {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.mensajeErrorForm {
    align-self: center;
    color: #D31212;
    margin-left: 5px;
    font-size: 24px;
}

.cursor {
    cursor: default !important;
}

.columnaTablaCentrada {
    display: inline-block;
}

.overflowTexto {
    max-width: 160px;
    overflow: hidden;
    display: inline-block;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflowDescripcion {
    max-width: 100px;
    overflow: hidden;
    display: inline-block;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.iconoGrandePrincipales {
    color: #79CB79;
    font-size: 130px;
}

.productoInactivo {
    opacity: 0.5;
}

.resumenCentrado {
    margin: auto !important;
    align-self: center !important;
}