.fondo {
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.barraBusqueda {
    margin-left: 100px;
}

.barraBusquedaNuevo {
    width: 500px !important;
    display: flex;
    flex: 1;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
}

input[type=text] {
    width: 500px;
    margin-left: -0.35%;
    flex: 1;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .navbar {
        overflow: auto !important;
    }
}

.sombraBarra {
    z-index: 1;
}

.barraNavegacion {
    background-color: #28a745;
}

.botones {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.culturaVerde {
    margin-left: 15.4%;
}

.contenedor {
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-group-text {
    margin-left: -2.02%;
    margin-top: -0.03%;
    height: 5.1%;
}

.error {
    color: #cc0000;
    font-size: 13px;
    position: absolute;
}

.titulosPrincipales {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
}

.form-control[type="text"], .form-control[type="email"], .form-control[type="password"], .form-control[type="telR"], .form-control[type="number"] {
    width: 40%;
}

.selectTipoProducto, .selectTipoUnidad, .selectTipoProduccion, .selectCategoria {
    width: 50%;
}

.iconosBarra {
    color: darkgreen;
    font-size: 28px;
    margin-top: 13px;
    margin-left: 7px;
    margin-right: 7px;
}

.botonBusqueda {
    width: 100%;
    height: 100%;
}

.iconoBusqueda {
    color: black;
}

.loader {
    background-color: white;
    height: calc(100vh - 78px);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 75px;
}

.iconosTabla {
    font-size: 18px;
}

.cursorManito {
    cursor: pointer;
    cursor: hand;
}

.iconoToast {
    font-size: 20px;
}

.butter-toast {
    margin-right: 20px;
}

.mensajeToast {
    font-size: 13px;
}

.botonCerrarModal {
    font-size: 20px;
    color: grey;
    float: right;
}

.iconoModalOk {
    color: #28a745;
    font-size: 65px;
}

.iconoModalError {
    color: red;
    font-size: 65px;
}

.modalMargenes {
    padding: 15px;
}

.mensajeModal {
    font-weight: bold;
}

.iconoGrandeError {
    color: red;
    font-size: 175px;
    margin-top: 100px;
}