.fondo{
	background-color: whitesmoke;
	height: 100vh;
	width: 100vw;
}


.barraBusqueda{
	margin-left:100px;
}

input[type=text]{
width:500px;
margin-left:-0.35%;
flex:1;
border: 1.5px solid #ccc;
border-radius: 6px;
box-sizing: border-box;
padding:0px 10px;
font-size: 15px;
font-weight: 400;
}



 @media (max-width: 1000px) {
   .navbar {
	overflow:auto!important;
   }
} 



.barraNavegacion{

background-color: #28a745;


}

.botones {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.culturaVerde {
margin-left:15.4%;
}

.contenedor{
overflow:auto;
background-color: whitesmoke;
flex-direction: column;
display: flex;
justify-content: center;
align-content: center;
text-align:center;
}

.input-group-text{
margin-left:-2.02%;
margin-top:-0.03%;
height: 5.1%;
}

.error{
color: #cc0000;
font-size: 13px;
position: absolute;
}

.titulosPrincipales{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 32px;
}

.dropdownProductos{
	width: 600px;

}
.dropdownOpciones{
	display: flex;
	flex-direction: row;
}