.fondo {
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.barraBusquedaNuevo {
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
}

input[type=text] {
    width: 500px;
    margin-left: -0.35%;
    flex: 1;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 400;
}

.alturaSeccionesBarra {
    height: 50px !important;
    align-items: center !important;
    display: flex;
}

@media (max-width: 1000px) {
    .navbar {
        overflow: auto !important;
    }
}

.sombraBarra {
    z-index: 1;
}

.barraNavegacion {
    background-color: #28a745;
}

.botones {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.culturaVerde {
    text-align: right;
}

.contenedor {
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-group-text {
    margin-left: -2.02%;
    margin-top: -0.03%;
    height: 5.1%;
}

.error {
    color: #cc0000;
    font-size: 13px;
    position: absolute;
}

.titulosPrincipales {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
}

.iconosBarra {
    color: darkgreen;
    font-size: 28px;
}

.separacionIconosBarra {
    padding-left: 10px;
    padding-right: 10px;
}

.botonBusqueda {
    width: 100%;
    height: 100%;
}

.iconoBusqueda {
    color: black;
}

.loader {
    background-color: white;
    height: calc(100vh - 78px);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 75px;
}

.iconosTabla {
    font-size: 18px;
}

.iconosTablaDeshabilitados {
    opacity: 0.5;
}

.cursorManito {
    cursor: pointer;
    cursor: hand;
}

.iconoToast {
    font-size: 20px;
}

.butter-toast {
    margin-right: 20px;
}

.mensajeToast {
    font-size: 13px;
}

.botonCerrarModal {
    font-size: 20px;
    color: grey;
    float: right;
}

.iconoModalOk {
    color: #28a745;
    font-size: 65px;
}

.iconoModalError {
    color: red;
    font-size: 65px;
}

.iconoModalWarning {
    color: #FFBF00;
    font-size: 65px;
}

.iconoModal {
    font-size: 65px;
    color: #79CB79;
}

.modalMargenes {
    padding: 15px;
}

.modalEliminarFoto {
    z-index: 100000 !important;
}

.mensajeModal {
    font-weight: bold;
}

.iconoGrandeError {
    color: red;
    font-size: 175px;
    margin-top: 100px;
}

.columnaCentrado {
    display: inline;
}

.modalActualizaciones {
    display: flex;
    flex-direction: row;
}

.selectEstado {
    width: 250px;
    margin-left: 10px;
}

.tituloCampoModal {
    align-self: center;
}

.cantidadItemsListado {
    width: 120px;
    margin-left: 10px;
}

.margenAutomatico {
    text-align: center !important;
    position: relative;
}

.opcionesCantidad {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5%;
    margin-bottom: 20px;
    float: right;
}

.opcionesCantidadBusqueda {
    display: flex;
    margin-bottom: 20px;
    float: right;
    padding-right: 5%;
    align-items: center;
}

.align-center {
    align-self: center;
}

.boxMiCuenta {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 70px;
    background-color: #a4dba4 !important;
    display: flex !important;
    flex-direction: row !important;
}

.tituloMiCuenta {
    text-align: left !important;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 10px;
}

.textoMiCuenta {
    text-align: left;
    line-height: 40px;
    margin-left: 20px;
    color: darkgreen !important;
    align-self: center;
    margin-bottom: 0px !important;
}

.linkBox {
    font-weight: 900;
}

.iconoBox {
    font-size: 40px;
    margin: auto;
    margin-left: 0! important;
    margin-right: 0px !important;
    color: darkgreen;
}

.linkMiCuenta {
    display: inline-flex;
}

.columnaPrecio {
    min-width: 90px !important;
    max-width: 90px !important;
}

.campoOferta {
    width: 130px !important;
    margin-left: 20px !important;
}

.modal-title {
    display: contents;
}

.cruzCerrar {
    align-self: center;
}

.alineacionIzquierda {
    text-align: left;
}

.inputDerecha {
    text-align: right;
}

.inputIcono {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.mensajeErrorForm {
    align-self: center;
    color: red;
    margin-left: 5px;
    font-size: 20px;
}

.cursor {
    cursor: default !important;
}

.columnaTablaCentrada {
    display: inline-block;
}

.overflowTexto {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.primeraColumna {
    padding-left: 6px !important;
}

.ultimaColumna {
    padding-right: 6px !important;
}

.alineacionResumenJustificado {
    text-align: justify !important;
}

.iconoGrandePrincipales {
    color: #79CB79;
    font-size: 130px;
}

.productoInactivo {
    opacity: 0.5;
}

.resumenCentrado {
    margin: auto !important;
    align-self: center !important;
}

.listadosSinItems {
    margin-top: 15px;
}

.margenTitulosResumen {
    margin-left: 0px;
    margin-bottom: 8px;
    font-size: 22px;
}

.iconoTituloResumen {
    font-size: 22px;
    margin-right: 5px;
    color: #555;
}

.alturaTarjetasResumen {
    height: 400px !important;
}

.tablaResumen {
    min-height: 270px !important;
    max-height: 270px !important;
}

.columnaComentario {
    max-width: 150px !important;
    min-width: 150px !important;
}

.table-wrapper-scroll-y {
    max-height: 270px !important;
    overflow-y: auto;
    overflow-x: hidden !important;
}

.table-wrapper-scroll-y::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.table-wrapper-scroll-y::-webkit-scrollbar-track {
    background: #DDD;
    border-radius: 10px;
}

.table-wrapper-scroll-y::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 10px;
}

.tablaDetalleFechasEntrega {
    max-width: 600px;
    margin: auto;
}

.leyendaCajaCalificaciones {
    margin-top: 10px;
}

.verticalDivider {
    width: 0;
    overflow: hidden;
    border-right: 1px solid #006400;
    margin-right: 20px;
    opacity: 0.2;
}

.condicionesInputs {
    color: #9E9E9E;
    font-size: 13px;
    text-align: end;
}

.condicionesInputsTitulo {
    font-size: 13px;
}

.selectFormularios {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding0Column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding0Inputs {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-aling-start {
    text-align: start;
}

.justifyContentCenter {
    justify-content: center;
}

.descripcionPagina {
    text-align: left;
    line-height: 40px;
    margin-bottom: 20px;
}

.anchoColumnaTituloProductos {
    max-width: 120px;
    min-width: 120px;
}

.mensajeErrorCampos {
    color: red;
    font-size: 13px;
    text-align: start;
}

.camposGeneral {
    margin-bottom: 20px !important;
}

.tituloCamposGeneral {
    align-self: top;
}

.titulosPaginasLogin {
    margin-top: 150px;
    padding-bottom: 20px;
}

.fa-chevron-left {
    display: flex !important;
    float: left !important;
    top: 45%;
    position: absolute !important;
    transform: translateY(-50%);
    left: -2%;
    color: #777
}

.fa-chevron-right {
    display: flex !important;
    float: right !important;
    top: 45%;
    position: absolute !important;
    right: -2%;
    color: #777
}

.anchoColumnaTituloCarrito {
    max-width: 600px;
    min-width: 600px;
    margin: auto !important;
}

.botonesCheckout {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.anchoColumnaProductoCheckout {
    max-width: 100px;
    min-width: 100px;
    margin: auto !important;
}

.botonesModal {
    margin-top: 20px !important;
}