.fondo{
	height: 100vh;
	width: 100vw;
	background-color: whitesmoke;
}

.barraNavegacion {
	background-color: #28a745;
}


.botones {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.culturaVerde {

margin-left:15.4%;

}

.contenedor{

overflow:auto;
background-color: whitesmoke;
flex-direction: column;
display: flex;
justify-content: center;
text-align:center;

}

.input-group-text{

position:fixed;
margin-left:-2.02%;
margin-top:0%;
height: 5.1%;

}