.graficosPorFila {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.graficos1 {
    width: 400px;
    height: 280px;
    margin: 5px;
}

.graficos2 {
    width: 800px;
    height: 280px;
    margin: 5px;
}