.formularioLogin{


margin-top: 8%;

}

.encabezadoLogin{

margin-top:4%;
margin-left:33%;

}


.form-control{

width: 40%;

}

.botonesLogin{

display:flex;
flex-direction: row;
display: flex;
justify-content: center;

}


.passwordLogin{

margin-top:3%;

}

.formUser,.formPass{

margin-left:-2%;

}
