.formularioLogin{


margin-top: 5%;

}

.encabezadoLogin{

margin-top:4%;
margin-left:33%;

}


.form-control{

width: 40%;

}

.botonesLogin{

display:flex;
flex-direction: row;
display: flex;
justify-content: center;

}


.error{

color: #cc0000;
font-size: 13px;

}

.passwordLogin{

margin-top:3%;

}


