.formularioLogin{


margin-top: 8%;

}

.encabezadoLogin{

margin-top:4%;
margin-left:33%;

}


.form-group{

display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;

}


.botonesLogin{

flex-direction: row;
display: flex;
justify-content: center;

}


.passwordLogin{

margin-top:3%;

}
