.name {
    color: green;
    font-weight: normal;
}

.direcc, .localidad, .productos {
    text-align: left;
}

.direcc, .productos {
    font-weight: 550;
}

.localidad, .productos {
    margin-top: 3px;
}

.descripcionPagina {
    margin-bottom: 20px;
}

.contenedorMapa {
    margin-left: 20px;
    margin-right: 20px;
}