.popover-header {
    padding: .5rem .75rem;
    margin-bottom: 0px;
    font-size: 1rem;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb !important;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}