.botonesNuevoProducto {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	margin-top:20px;
	justify-content: center;

}

.form-control[type="desc"]{

width:50%;
height:100px;

}

.form-control[type="titulo"]{

width:50%;

}

.form-label{

text-align:right;

}

.botonUpload{

height: 45px;
margin-left:-300px;
width: 120px;


}

[type="file"] {
  pointer-events: none;
  width: 300px;
  outline: none;

}
  
.condicionesInputs{

margin-left:-15%;
color: #cc0000;
font-size: 13px;

}

.condicionesInputsImg{

margin-left:-17%;
color: #cc0000;
font-size: 13px;

}

.condicionesInputTP{

margin-left:-25%;
color: #cc0000;
font-size: 13px;

}

#number{


	width: 16%;
}


.calen{

	width: 16%;


}