.autoComplete{

	
}

#autocomplete{

	height: 40px;
	width: 490px;
	border: 1.5px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
	padding: 0px 10px;
	font-size: 15px;
	font-weight: 400;
}

.botones{

margin-top:20px;

}