.form-control[type="desc"] {
	width: 50%;
	height: 100px;
}

.form-control[type="titulo"], .form-control[type="contenido"] {
	width: 50%;
}

.form-label {
	text-align: right;
}

.botonUpload {
	height: 45px;
	margin-left: -300px;
	width: 120px;
}

[type="file"] {
	pointer-events: none;
	width: 300px;
	outline: none;
}

#number {
	width: 16%;
}

.filepond--item {
	width: calc(20% - .5em);
}

.filepond--panel-root {
	border: 1.5px solid darkgray;
}

/* error state color */

[data-filepond-item-state*='error'] .filepond--item-panel, [data-filepond-item-state*='invalid'] .filepond--item-panel {
	background-color: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
	background-color: green;
}

.tituloImagen {
	margin-bottom: 12px;
}

.iconoInputGroupBordeDerecho {
	border-right: none !important;
	width: 100%;
	height: 100%;
}

.cajaImagenesWidth {
	width: 850px;
	margin: auto;
}

.iconoInputGroupBordeIzquierdo {
	border-left: none !important;
	width: 100%;
	height: 100%;
}