.form-control[type="desc"] {
	width: 50%;
	height: 100px;
}

.form-control[type="titulo"], .form-control[type="contenido"] {
	width: 50%;
}

.form-label {
	text-align: right;
}

.botonUpload {
	height: 45px;
	margin-left: -300px;
	width: 120px;
}

[type="file"] {
	pointer-events: none;
	width: 300px;
	outline: none;
}

.condicionesInputs {
	margin-left: -15%;
	color: #cc0000;
	font-size: 13px;
	margin-bottom: 15px;
}

.condicionesInputsImg {
	color: #cc0000;
	font-size: 13px;
}

.condicionesInputsCO {
	margin-left: -18%;
	color: #cc0000;
	font-size: 13px;
}

#number {
	width: 16%;
}

.calen {
	width: 16%;
}

.filepond--item {
	width: calc(20% - .5em);
}

.filepond--panel-root {
	border: 1.5px solid darkgray;
}

/* error state color */

[data-filepond-item-state*='error'] .filepond--item-panel, [data-filepond-item-state*='invalid'] .filepond--item-panel {
	background-color: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
	background-color: green;
}

.tituloImagen {
	margin-bottom: 12px;
}

.estiloCampoPrecio {
	width: 175px !important;
	text-align: right;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: nowrap !important;
}

.campoSinBordeNumeros {
	border-bottom: none !important;
	border-top: none !important;
	border-right: none !important;
	border-left: 1px solid #ced4da;
}

.iconoPrecio {
	width: 100%;
	height: 100%;
}

.campoSinBorde {
	border: none !important;
}