.imagenUsuario{

	margin-left:-2%;
	margin-top:5.2%;
	flex:1;

}

.menuUsuario {

	margin-left:-14px;
	margin-top:3.5%;
	flex:1;

}
	

.alertas{

	margin-top:1.8%;
margin-left:-15px;
flex:1;
	
}

.carrito{

margin-top:3%;
margin-left:6px;
flex:1;

}	

.iconos{

margin-left:70px;
display:flex;
flex-direction: row;
flex:1;

}

#nav-dropdown{
	color: black!important;
	flex:1;
}

#config_drop, #compra_drop{

color: black!important;
font-weight: bold;
margin-left:-10px;


}

.com_drop{

margin-top:-4.5px;

}

.imagen_conf{

margin-top:7px;

}


.menuConsumidor {

    margin-top: 40px;
	font-weight: bold;
	
	
	
}

.reserva{


margin-top:20px;

}

p {

margin-left:6px;

}

h4{

margin-left:6px;

}

.menuConsumidor{

margin-left:10px;



}

.ruteo{

	background-color:white;
	

}

.filaContenedora{

height:100vh;


}

.divisor{

	width:210px;
	margin-left:-20px;
}
