.perfilProductor{
    margin-top: 30px;
    margin-left: 30px;
}
.nombreDelPerfil{
    font-weight: 500;
    font-size: xx-large;
    text-align-last: start; 
    margin-bottom: 10px;
}

.perfilDatosProducto{
    font-weight: 400;
    align-content: center;
    margin-bottom: 10px;
}

.listadoDeProductos{

}

.carousel-indicators{
    position: inherit !important;
}

.carousel-indicators .li {
    
}

