.opciones{
	display: flex;
	flex-direction: row;
	justify-content:left;
}

.tituloProductos{
	width: 100px;
	text-align: right;
	margin-top:5px;
}

.dropdownProductos{
	width: 600px;
	padding-left: 25px;
}

.botonesPreferencias{
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.descripcionPagina{
	text-align: left;
	line-height: 40px;
	margin-top:20px;
}