.filaContenedora {

	height: 100vh;

}



.imagenUsuario {

	margin-left: -2%;
	margin-top: 5.2%;
	flex: 1;

}

.imagenUsuarioProd {

	margin-left: -2%;
	margin-top: 6%;
	flex: 1;

}

.menuUsuario {

	margin-left: -14px;
	margin-top: 3.5%;
	flex: 1;
	margin-right: 5px;

}

.iconos {

	margin-left: 70px;
	flex-direction: column;

}

.iconosProd {
	margin-left: 672px;
	flex-direction: column;

}

#nav-dropdown {
	color: black !important;
	flex: 1;
}

.menuConsumidor {

	margin-top: 40px;
	font-weight: bold;
	margin-left: 10px;

}

.divisor {

	width: 210px;
	margin-left: -20px;
}

.subMenu {

	margin-top: 13px;

}

p,
h4 {

	margin-left: 6.4px;

}

.alerta p {

	margin-top: 7px;

}

.planificacion p {

	margin-top: 1px;

}

#compra_drop,
#producto_drop {

	color: black !important;
	font-weight: bold;
	margin-left: -10px;


}

#config_drop {

	color: black !important;
	font-weight: bold;
	margin-left: -5px;

}


#producto_drop {

	margin-top: -2px;

}

#config_drop {

	margin-top: -5.4px;

}

#config_dropConsu {

	margin-top: -7.5px;
	color: black !important;
	font-weight: bold;
	margin-left: -10px;
}


#compra_drop {

	margin-top: -4px;

}

.alerta {

	margin-top: -7px;

}

.compra {

	margin-top: -4px;

}

.configuracion {

	margin-top: -3.8px;

}

.productos {

	margin-top: -3.8px;

}

.reserva {

	margin-top: 7px;

}

.ruteo {

	background-color: white;
}

.imgA {

	margin-top: 3.1px;
}