.filaContenedora {
	/*78 px es el tamaño que ocupa la nav-bar*/
	min-height: calc(100vh - 78px);
}

.imagenUsuario {
	margin-left: -2%;
	margin-top: 5.2%;
	flex: 1;
}

.imagenUsuarioProd {
	margin-left: -2%;
	margin-top: 6%;
	flex: 1;
}

.menuUsuario {
	margin-left: -14px;
	margin-right: 20px;
}

.iconos {
	margin-left: 40px;
	flex-direction: column;
}

.iconosProd {
	margin-left: 570px;
	flex-direction: column;
}

#nav-dropdown {
	color: white !important;
	flex: 1;
	margin-left: 6.5px;
}

#nav-dropdown.item {
	color: black !important;
}

.menuConsumidor {
	margin-top: 25px;
	font-weight: bold;
	min-width: 230px !important;
	max-width: 230px !important;
}

.divisor {
	width: 210px;
	margin-left: -20px;
}

.subMenu {
	margin-top: 13px;
}

p, h4 {
	margin-left: 6.4px;
	margin-top: 700px;
	color: black !important;
}

#compra_drop, #producto_drop, #puntoentrega_drop {
	color: black !important;
	font-weight: bold;
	margin-left: -10px;
}

#config_drop {
	color: black !important;
	font-weight: bold;
	margin-left: -9.2px;
	margin-top: -6.5px;
}

#producto_drop {
	margin-top: -5px;
}

#config_dropConsu {
	margin-top: -7.5px;
	color: black !important;
	font-weight: bold;
	margin-left: -10px;
}

#compra_drop {
	margin-top: -4px;
}

.alerta {
	margin-top: -7px;
}

.configuracion {
	margin-top: -3.8px;
}

.productos {
	margin-top: -3.8px;
}

.reserva {
	margin-top: 7px;
}

.ruteo {
	background-color: white;
	overflow-y: auto;
}

.imgA {
	margin-top: 3.1px;
}

.iconosMenuLateral {
	color: #000;
	font-size: 20px;
	margin-left: 3px;
	margin-right: 7px;
	margin-top: 3px;
	width: 25px;
}

.itemsMenuReservas {
	margin-top: 7.5px;
}

.iconoMiCuenta {
	color: #000;
	font-size: 22px;
	margin-left: 3px;
	margin-right: 7px;
	margin-top: 3px;
}

#market {
	margin-top: 8px;
}

#alert {
	margin-left: -16px;
}

#items {
	color: black !important;
}

.items {
	color: black !important;
}

#categoria_drop {
	color: black !important;
	margin-left: 5%;
}

#itemArea {
	width: 670px;
	height: 400px;
	background-color: white;
}

#categorias {
	color: green;
}

#subTipos {
	margin-left: 0px;
}

.scrollMenuCategorias {
	overflow-y: auto;
	height: 340px;
	margin-right: 10px;
}

.margenMenuLateral {
	margin-left: 15px !important;
}