.filaContenedora {

	height: 100vh;

}

.imagenUsuario {

	margin-left: -2%;
	margin-top: 5.2%;
	flex: 1;

}

.imagenUsuarioProd {

	margin-left: -2%;
	margin-top: 6%;
	flex: 1;

}

.menuUsuario {

	margin-left: -14px;
    margin-right: 20px;

}

.iconos {

	margin-left: 70px;
	flex-direction: column;

}

.iconosProd {
	margin-left: 672px;
	flex-direction: column;

}

#nav-dropdown {
	color: black !important;
	flex: 1;
}

.menuConsumidor {

	margin-top: 25px;
	font-weight: bold;
	margin-left: 10px;

}

.divisor {

	width: 210px;
	margin-left: -20px;
}

.subMenu {

	margin-top: 13px;

}

p,
h4 {

	margin-left: 6.4px;

}

#compra_drop,
#producto_drop,
#puntoentrega_drop {

	color: black !important;
	font-weight: bold;
	margin-left: -10px;


}

#config_drop {

	color: black !important;
	font-weight: bold;
	margin-left: -9.2px;
	margin-top: -5.4px;

}

#producto_drop {

	margin-top: -5px;

}


#config_dropConsu {

	margin-top: -7.5px;
	color: black !important;
	font-weight: bold;
	margin-left: -10px;
}


#compra_drop {

	margin-top: -4px;

}

.alerta {

	margin-top: -7px;

}

.configuracion {

	margin-top: -3.8px;

}

.productos {

	margin-top: -3.8px;

}

.reserva {

	margin-top: 7px;

}

.ruteo {

	background-color: white;

}

.imgA {

	margin-top: 3.1px;
}

.iconosMenuLateral {
	color: #000;
	font-size: 20px;
	margin-left: 3px;
	margin-right: 7px;
	margin-top: 3px;
	width: 25px;
}

.itemsMenu {
	flex-direction: row;
	display: flex;
}

.iconoMiCuenta {
	color: #000;
	font-size: 22px;
	margin-left: 3px;
	margin-right: 7px;
	margin-top: 3px;
}