.formularioRecuContra{

margin-top: 10%

}

.encabezadoRecucontra{

margin-top:5%;
margin-left:27%;
}

.Correoelectronico{

	margin-top: -4%;

}

.form-control[type=recuemail]{

width: 55%;

}

.botones {

margin-top:0%;

}