.form-control[type="text"], .form-control[type="email"], .form-control[type="password"], .form-control[type="tel"]{

width:40%;

}

.titulos{
margin-top: 2%;
margin-left:-6%;
}

.cuentaUsuario{
margin-left:20%;
}

.cuentaCultura{
font-weight: 500;
}

.contenidoRegistro{
margin-top:1%;
margin-left:33%;
}


.tel{

margin-top:3.5%;
}

.email{

margin-top:3.5%;

}

.password{


margin-top:3.5%;	

}

.razonSocial{


margin-top:3.5%;

}

.fechaNacimiento{

margin-top:3.5%;

}


.apellido{

margin-top:3.5%;

}


.errorConsu{

color: #cc0000;
font-size: 13px;
position:absolute;
margin-left:0.5%;
margin-top:0.5%;

}

.errores{

margin-left:-43%;
position:absolute;

}



.fechaLabel{

margin-left:-8.4%;

}

.calendario{

width:40%;

}

.botonesUsuarios{

margin-top:2.5%;
margin-left:5%;


}
