.react-bootstrap-table table {
    table-layout: auto !important;
}

.paginado {
    justify-content: center;
}

.linksReservas {
    display: flex;
}

.iconoMenu {
    margin-left: 5px;
    margin-top: 3px;
}

.iconoGrande {
    color: #79CB79;
    font-size: 175px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.modal-dialog {
    width: 400px !important;
}

.tituloModal {
    display: flex;
    flex-direction: row;
}

.textCalificacion {
    width: 97%;
    margin: auto;
}

.divEstrellas {
    display: inline-flex;
}

.spanModalLeft {
    float: left;
}