.iconosListado {
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

.view .imagenesBusqueda {
    position: relative;
    display: initial !important;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.footerCard {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.botonesCard {
    max-width: 126px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.btn-primary {
    background-color: white !important;
}

.cantidadDeBusqueda {
    padding-left: 5%;
    align-items: center;
}

.cantidadDeBusquedaDiv {
    height: 38px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.link-button:hover, .link-button:focus {
    text-decoration: none;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: #CCC;
    width: 0.5rem !important;
    height: 0.5rem !important;
}

.carousel .carousel-indicators .active {
    background-color: #888;
    width: 0.5rem !important;
    height: 0.5rem !important;
}