.agregarcarrito {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconosListado {
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

.view .imagenesBusqueda {
    position: relative;
    display: initial !important;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}