.agregarcarrito {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconosListado {
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

.view .imagenesBusqueda {
    position: relative;
    display: initial !important;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.footerCard {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.botonesCard {
    max-width: 126px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.btn-primary {
    background-color: white !important;
}

.divLoaderWhitesmoke {
    width: calc(100vw - 78px) !important;
}

.loaderWhitesmoke {
    background-color: whitesmoke !important;
    left: 50%;
    margin-left: -75px !important;
}